*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'sirukota';
  src: url('Sirukota.ttf') format('truetype');
}

body {
  color: salmon;
  font-family: 'sirukota', sans-serif;
}

h1 {
  font-family: sirukota;
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hidden {
  display: none;
}

#join {
  height: 35px;
  width: 80px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

#name {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  border: 3px solid #6d765b;
  text-align: center;
  font-size: 20px;
  font-family: sirukota;
  height: 40px;
  border-radius: 10px 10px 10px 10px;

}
.game {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige
}

#board {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

#overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#leftp {
  margin-right: 80px;
}

#rightp {
  margin-left: 80px;
}

#player1 {
  margin-right: 20px;
}

#player2 {
  margin-right: 20px;
}

.piece {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.7px;
  margin-left: 2.7px;
}

#white {
  color:white;
  background-color: white; 
  border-radius: 50%;
  box-shadow: 8px 2px 8px rgba(0, 0, 0, 0.2);
}

#black {
  color: #6d765b;
  background-color: #6d765b; 
  border-radius: 50%;
  box-shadow: 8px 2px 8px rgba(0, 0, 0, 0.2);
}

#edge {
  border-radius: 10px 0 0 0;
}

#topright {
  border-radius: 0 10px 0 0;
}

#botright {
  border-radius: 0 0 10px 0;
}

#botleft {
  border-radius: 0 0 0 10px;
}

.cell {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  color: salmon;
  border-top: 2.7px solid;
  border-left: 2.7px solid;
}

.cell:nth-child(16n) {
  border-right: 2.7px solid;
}

.cell:nth-last-child(-n + 16) {
  border-bottom: 2.7px solid;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#surrender {
  margin-left: 40px; 
  padding: 10px, 10px;
  height: 40px;
  width: 120px;
  color: beige;
  border-radius: 5px;
  background-color: salmon;
  font-family: sirukota;
  font-size: 22px;
  transform: 200ms;
}

#end {
  margin-right: 40px;
  padding: 10px, 10px;
  height: 40px;
  width: 120px;
  color: beige;
  border-radius: 5px;
  background-color: salmon;
  font-family: sirukota;
  font-size: 20px;
  transform: 200ms;
}

button {
  padding: 10px, 10px;
  height: 50px;
  width: 150px;
  color: beige;
  border-radius: 5px;
  background-color: #6d765b;
  font-family: sirukota;
  font-size: 25px;
  transform: 200ms;
  border: none;
  cursor: pointer;
}

.highlight {
  background-color: #C4A484;
}

.highlightp {
  text-shadow: 8px 2px 8px rgb(252, 192, 41);
}







